@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Wallpoet&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --fonte1: 'Kaushan Script', cursive;
    
}


h1{
    font-family: var(--fonte1);
}


body{
    background-color: #363636;
    background-image: url('img/fundo.jpg');
    background-size: cover;
    color: antiquewhite;
    margin-left: 30px;
    font-size: 20px ;
}


#apresentacao{
    
}

#face{
    background-color: antiquewhite;
    max-width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
    list-style: none;   
}

#face:hover{
    background-color: #FFDEAD;
    transition: 0.7s;
}

#insta{
    background-color: antiquewhite;
    max-width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
    list-style: none
    
}
#insta:hover{
    background-color: #FFDEAD;
    transition: 0.7s;

}
#whats{
    background-color: antiquewhite;
    max-width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
    list-style: none
}
#whats:hover{
    background-color: #FFDEAD;
    transition: 0.7s;

}
#linkdin{
    background-color: antiquewhite;
    max-width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
    list-style: none
}
#linkdin:hover{
    background-color: #FFDEAD;

}

#twiter{
    background-color: antiquewhite;
    max-width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
    list-style: none
}
#twiter:hover{
    background-color: #FFDEAD;
    transition: 0.7s;

}


#coracao{
    background-color: antiquewhite;
    max-width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
    list-style: none
    
}
#coracao:hover{
    background-color: aqua;
    transition: 0.7s;
}
a{
    text-decoration: none;
    list-style: none;
}


